<mat-card class="details">
  <div *ngIf="lecture != null">
    <h2>{{ lecture.name }} - {{ lecture.study }}</h2>
    <h3><b>University:</b> {{ lecture.uni.name }}</h3>
    <h3>Subject: {{ lecture.subject }}</h3>
    <p>Professor: {{ lecture.professor }}</p>
    <mat-card style="margin-top: 4px" *ngFor="let comment of lecture.lectureComments">
      <p>
        <small>
          <b>{{ comment.user.username }}</b>
        </small>
      </p>
      <p>{{ comment.text }}</p>
    </mat-card>
  </div>
</mat-card>
<mat-card>
  <h2>Attachment</h2>
</mat-card>
