<form [formGroup]="lectureForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="lecture-card">
    <mat-card-header>
      <mat-card-title>Lecture Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Lecture Name" formControlName="name" />
            <mat-error *ngIf="lectureForm.controls['name'].hasError('required')">
              Lecture Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Subject" formControlName="subject" />
            <mat-error *ngIf="lectureForm.controls['subject'].hasError('required')">
              Subject is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Study" formControlName="study" />
            <mat-error *ngIf="lectureForm.controls['study'].hasError('required')">
              Study is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              type="text"
              matInput
              placeholder="Professor"
              formControlName="professor"
            />
            <mat-error *ngIf="lectureForm.controls['professor'].hasError('required')">
              Professor is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>University</mat-label>
            <mat-select formControlName="uniId">
              <mat-option *ngFor="let uni of unis$ | async" [value]="uni.uniId">
                {{ uni.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="lectureForm.controls['uniId'].hasError('required')">
              University is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="lectureForm.controls['date'].hasError('required')">
              Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
